
    <div class="container-fluid">
        <div class="row">
          <div class="col-lg-1"></div>
            <div class="col-lg-2 logo"> <a href="index.html"><img alt="Logo" src="assets/img/logo-teal.png" class="img-fluid" data-text-logo="M-Tush"></a>
            </div>
            <div class="col-md-6 search-box m-t-2">
                <div class="input-group">
                    <input type="text" class="form-control search-input" aria-label="Search here..."
                    placeholder="Search here...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-secondary btn-search"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-1">
                <div ngbDropdown class="cart">
                <button class="btn btn-outline-primary btn-md " id="dropdownBasic1" ngbDropdownToggle>Cart</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" left="0px">
                  <a class=""> 
                    <i class="fa fa-frown-o"></i>Your Cart is empty</a>
                </div>
            </div>
        </div>
    </div>

