
<div class="top-header">
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <ul class="list-inline float-sm-left hidden-lg-down">
        <li>
          <a>
            <i class="fa fa-bullhorn"></i>
            Free 2-Business Day Shipping &nbsp;
            <a class="list-inline">
                <i class="fa fa-android"></i>
                Download App
              </a>
          </a>
        </li>
      </ul>
      <ul class="list-inline float-sm-right">
          <a>
            <i class="fa fa-question-circle"></i>
            Help
          </a>
          <a class="hidden-sm-down">
            <i class="fa fa-phone"></i>
              +254 712 345 678
          </a>
          <!-- Language Toggle -->
          <div ngbDropdown class="d-inline-block float-sm-right hidden-md-down">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                <img src="assets/img/english.jpg">
                English
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">English</button>
              </div>
          </div>
          <a>
            <i class="fa fa-align-left"></i>
            Track Order
          </a>

          <!-- login -->
          <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                Login</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <form class="dropdown-menu dropdown-menu-right dropdown-menu-login">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input type="checkbox" class="form-check-input">
                          Check me out
                        </label>
                      </div>
                      <button routerLink="/productDetails" type="submit" class="btn btn-primary">Submit</button>
                    </form>
              </div>
          </div>
      </ul>
    </div>
  </div>
</div>
</div>


<app-menu></app-menu>


<div>
    <app-products-def></app-products-def>
    
</div>

<router-outlet></router-outlet>
